@import "https://fonts.googleapis.com/css?family=Open+Sans:300,700";
@import "https://fonts.googleapis.com/css?family=Kreon:300,700";

body {
    background: #ddd;
}

canvas {
    border: 2px solid #808080;
    border-style: outset;
    display: block;
    margin: 10px auto 10px auto;
    background-color: #fff;
}

.btn:focus {
    outline: none;
}

.btn-tool {
    min-width: 39px;
}

.easeljs {
    text-shadow: 2px 2px 15px #2bb679;
    text-rendering: geometricPrecision;
    font-weight: bold;
    font-family: kreon;
}
